In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_parquet('Training.parquet')

In [3]:
df.shape

(7658, 89)

In [4]:
# ip

In [5]:
df.columns

Index(['url', 'length_url', 'length_hostname', 'ip', 'nb_dots', 'nb_hyphens',
       'nb_at', 'nb_qm', 'nb_and', 'nb_or', 'nb_eq', 'nb_underscore',
       'nb_tilde', 'nb_percent', 'nb_slash', 'nb_star', 'nb_colon', 'nb_comma',
       'nb_semicolumn', 'nb_dollar', 'nb_space', 'nb_www', 'nb_com',
       'nb_dslash', 'http_in_path', 'https_token', 'ratio_digits_url',
       'ratio_digits_host', 'punycode', 'port', 'tld_in_path',
       'tld_in_subdomain', 'abnormal_subdomain', 'nb_subdomains',
       'prefix_suffix', 'random_domain', 'shortening_service',
       'path_extension', 'nb_redirection', 'nb_external_redirection',
       'length_words_raw', 'char_repeat', 'shortest_words_raw',
       'shortest_word_host', 'shortest_word_path', 'longest_words_raw',
       'longest_word_host', 'longest_word_path', 'avg_words_raw',
       'avg_word_host', 'avg_word_path', 'phish_hints', 'domain_in_brand',
       'brand_in_subdomain', 'brand_in_path', 'suspecious_tld',
       'statistical_report', 'nb_hyperlinks', 'ratio_intHyperlinks',
       'ratio_extHyperlinks', 'ratio_nullHyperlinks', 'nb_extCSS',
       'ratio_intRedirection', 'ratio_extRedirection', 'ratio_intErrors',
       'ratio_extErrors', 'login_form', 'external_favicon', 'links_in_tags',
       'submit_email', 'ratio_intMedia', 'ratio_extMedia', 'sfh', 'iframe',
       'popup_window', 'safe_anchor', 'onmouseover', 'right_clic',
       'empty_title', 'domain_in_title', 'domain_with_copyright',
       'whois_registered_domain', 'domain_registration_length', 'domain_age',
       'web_traffic', 'dns_record', 'google_index', 'page_rank', 'status'],
      dtype='object')

In [6]:
df.ip.value_counts()

ip
0    6523
1    1135
Name: count, dtype: int64

In [7]:
urls = pd.read_csv("phishing_site_urls.csv")

In [8]:
urls.shape

(549346, 2)

In [9]:
urls.URL

0         nobell.it/70ffb52d079109dca5664cce6f317373782/...
1         www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...
2         serviciosbys.com/paypal.cgi.bin.get-into.herf....
3         mail.printakid.com/www.online.americanexpress....
4         thewhiskeydregs.com/wp-content/themes/widescre...
                                ...
549341                                      23.227.196.215/
549342                                   apple-checker.org/
549343                                    apple-iclods.org/
549344                                   apple-uptoday.org/
549345                                    apple-search.info
Name: URL, Length: 549346, dtype: object

In [10]:
urls.head()

                                                 URL Label
0  nobell.it/70ffb52d079109dca5664cce6f317373782/...   bad
1  www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...   bad
2  serviciosbys.com/paypal.cgi.bin.get-into.herf....   bad
3  mail.printakid.com/www.online.americanexpress....   bad
4  thewhiskeydregs.com/wp-content/themes/widescre...   bad

In [11]:
urls['URL'].map(len).value_counts().sort_index(ascending=True)

URL
1       3
2       2
4       1
5       7
6       7
       ..
1383    2
1492    2
1666    2
2175    1
2307    1
Name: count, Length: 605, dtype: int64

In [12]:
urls.shape

(549346, 2)

In [13]:
urls = urls[urls.URL.map(len) > 15]

In [14]:
urls = urls[urls.URL.map(len) < 100]

In [15]:
urls.shape

(496684, 2)

In [16]:
%matplotlib inline

In [17]:
urls.head()

                                                 URL Label
1  www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...   bad
3  mail.printakid.com/www.online.americanexpress....   bad
5               smilesvoegol.servebbs.org/voegol.php   bad
6  premierpaymentprocessing.com/includes/boleto-2...   bad
7  myxxxcollection.com/v1/js/jih321/bpd.com.do/do...   bad

In [18]:
urls['lenght'] = urls.URL.apply(len)

In [19]:
urls.head()

                                                 URL Label  lenght
1  www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...   bad      81
3  mail.printakid.com/www.online.americanexpress....   bad      60
5               smilesvoegol.servebbs.org/voegol.php   bad      36
6  premierpaymentprocessing.com/includes/boleto-2...   bad      61
7  myxxxcollection.com/v1/js/jih321/bpd.com.do/do...   bad      60

In [20]:
urls.URL.combine(df.url, func = lambda x,y: 1 if x == y else 0).sum()

0